<li id="comment-<%= comment.id %>" class="comment">
	<% unless params[:controller] == 'index' %>
		<h4><%= link_to comment.link_title, comment.link %></h5>
	<% end %>
	<h5>
		<%= link_to comment.user_name || "anonymous", comment.user %> 
		<span class="timestamp">
			<%= time_ago_in_words(comment.created_at) %> ago
		</span>
	</h5>
	<p><%= comment.content %></p>
	<div class="comment-actions">
		<% if current_user.present? %>
			<%= link_to 'reply', reply_to_comment_path(comment), remote: true %>
		<% end %>
		<% if comment.user == current_user %>
			<%= link_to "edit", edit_comment_path(comment), remote: true %>
			<%= link_to "delete", comment_path(comment), method: :delete, remote: true %>
		<% end %>
	</div>
	<div id="comment-<%= comment.id %>-reply-form"></div>
	<ul id="comment-<%= comment.id %>-children" class="children">
		<%= render comment.children if comment.children.any? && show_children %>
	</ul>
</li>