<div class="row">
		<% if current_user.present? %>
			<div class="col-md-9">
				<h2>Your Links</h2>
				<div class="links">
					<%= render @links %>
				</div>
				<%= will_paginate @links, renderer: BootstrapPagination::Rails %>
			</div>
			<aside class="col-md-3">
				<h2><%= current_user.username %></h2>
				<%= render 'shared/user_stats', user: current_user %>
				<%= link_to 'Submit a link', new_link_path, class: "btn btn-primary center" %>
				<%= link_to 'Create a subreddit', new_subreddit_path, class: "btn btn-primary center" %>
			</aside>
		<% else %>
			<div class="jumbotron center">
				<h1>Reddit on Rails!</h1>
				<h2 class="center-block">
					<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary" %>
				</h2>
			</div>
		<% end %>
</div>