<%= form_for link.votes.build, remote: true do |f| %>
  <div><%= hidden_field_tag :link_id, link.id %></div>
  <div>
  	<% if direction == 'up' %>
	  	<%= hidden_field_tag :value, 1 %>
	  <% else %>
	  	<%= hidden_field_tag :value, -1 %>
	  <% end %>
  </div>
  <%= render 'links/arrow', direction: direction %>
<% end %>