<div class="row">
	<div class="col-md-8">
		<div class="links row">
			<%= render @link %>
			<% if @link.description %>
				<div class="link-description col-md-11 col-md-offset-1">
					<%= @link.description %>
				</div>
			<% end %>
		</div>
		<h3><%= pluralize(@link.comments.size, "comments") %></h3>
		<%= render 'comments/comment_form' %>
		<ul id="comment-area">
			<%= render @comments, show_children: true %>
		</ul>
	</div>
</div>