<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>Settings for <%= link_to "/r/#{@subreddit.name}", @subreddit  %></h1>
		<%= form_for @subreddit do |f| %>
			<%= f.label :description %>
			<%= f.text_area :description %>
			<%= f.submit "Save changes", class: "btn btn-primary" %>
		<% end %>
		<div>
			<%= link_to 'Delete this subreddit', subreddit_path(@subreddit), 
			                                     method: :delete, 
			                                     confirm: 'Are you sure?' %>
		</div>
	</div>
</div>